.bug_type {
    background-color: #93bb3a;
}

.dark_type {
    background-color: #595761;
}

.dragon_type {
    background-color: #176cc5;
}

.electric_type {
    background-color: #f1d85a;
}

.fairy_type {
    background-color: #ed93e4;
}

.fighting_type {
    background-color: #d14461;
}

.fire_type {
    background-color: #F9A555;
}

.flying_type {
    background-color: #a2bcea;
}

.ghost_type {
    background-color: #606fba;
}

.gass_type {
    background-color: #63bc5d;
}

.ground_type {
    background-color: #d87c52;
}

.ice_type {
    background-color: #79d0c1;
}

.normal_type {
    background-color: #a0a29f;
}

.poisen_type {
    background-color: #b667cd;
}

.psychic_type {
    background-color: #f88684;
}

.rock_type {
    background-color: #c9bb8d;
}

.steel_type {
    background-color: #5995a2;
}

.water_type {
    background-color: #579edd;
}
